html {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #18191f;
    font-size: x-large;
    width: 100%;
    cursor: default;
  }

  #linha1 {
    display: inline-flex;
  }

  #linha2 {
    display: inline-flex;
  }

  .coluna {
    width: 50%;
  }

  #img {
    width: 75%;
  }

  #list {
    padding: 1%;
    margin: 5%;
  }

  #cell {
    padding: 1%;
    margin: 5%;
  }

  #roupa {
    background: linear-gradient(to bottom right, rgb(24, 24, 24),rgb(36, 36, 36), rgb(53, 53, 53), rgb(73, 73, 73));
    color: antiquewhite;
    border: 1px;
    border-color: #18191f;
    border-radius: 5px;
    transition-property: transform;
    transition-duration: 0.5s;
    padding: 5%;
    margin: 10%;
  }

  #roupa:hover {
    transform: scale(1.5)
  }

  #style {
    color: black;
    transition: 0.5s;
    padding: 5%;
    margin: 10%;
  }

  #style:hover {
    box-shadow: -10px 10px 10px black;    
    transform: translate(10px -10px);
  }

  #icons {
    padding: 1%;
    margin: 5%;
  }

  #instagram,
  #codepen,
  #github,
  #facebook {      
      color: #18191f;
      margin: 5%;    
      text-shadow: 0 0 50px whitesmoke;
    }