body {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: #18191f;
  font-size: x-large;
  cursor: default;
}

.linha {
  display: inline-flex;
  flex-wrap: wrap;
}

.coluna {
  max-width: 400px;
  max-height: 500px;
  margin: 20px;
}

.coluna > div {
  min-width: 250px;
  min-height: 250px;
}

img {
  max-width: 90%;
  max-height: 90%;
}

#list {
  text-align: left;
}

#roupa {
  background: linear-gradient(to bottom right, rgb(24, 24, 24),rgb(36, 36, 36), rgb(53, 53, 53), rgb(73, 73, 73));
  color: antiquewhite;
  border: 1px;
  border-color: #18191f;
  border-radius: 5px;
  transition-property: transform;
  transition-duration: 0.5s;
  padding: 20px;
  max-width: 250px;
}

a {
  text-decoration: none;
}

#roupa:hover {
  transform: scale(1.5)
}

#style {
  color: black;
  transition: 0.5s;
  padding: 20px;
  max-width: 250px;
}

#style:hover {
  box-shadow: -10px 10px 10px black;    
  transform: translate(10px -10px);
}

#icons {
  padding: 20px;
  margin: 10px;
}

#instagram,
#codepen,
#github,
#facebook {      
    color: #18191f;
    margin: 20px;    
    text-shadow: 0 0 50px whitesmoke;
}